.about {
  width: 30%;
}

.text {
  text-align: left;
  color: #f6f6f6;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 40px;
}

.bold {
  font-weight: 300;
}

@media (max-width: 1368px) {
  .text {
    font-size: 1.3rem;
    margin: 50px 250px 0px 250px;
    text-align: center;
  }

  .about {
    width: 100vw;
  }

  .mobileDivider {
    display: block;
  }
}

@media (max-width: 768px) {
  .text {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.2rem;
    line-height: 30px;
  }
}