.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectContainer, .linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectLink {
  color: #f6f6f6;
  font-weight: 100;
  font-size: 3rem;
}

.linkContainer {
  margin-top: 30px;
}

.projectDesc {
  color: #c6c6c6;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 20px;
}

.projectTechsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.projectLinkUnderline {
  transform: scaleX(0);
  height: 2px;
  width: 100%;
  transform-origin: left;
  background: linear-gradient(90deg, #ff00cc, #e21ecb, #c52ac7, #a931c2, #8c34ba, #6f36b1, #5235a6, #333399);
  transition: 0.1s ease-out transform;
}


.linkContainer:hover > .projectLinkUnderline  {
  transform: scaleX(1);
}

@media (max-width: 1368px) {
  .projectLink {
    font-size: 1.7rem;
  }

  .projectDesc {
    text-align: center;
    padding: 0px 15px;
  }

  .projectTechsContainer {
    justify-content: center;
  }

  .projectContainer {
    margin: 0px 20px;
  }
}